* {
	padding:0px;
	
}
body 
{
	background-color:#222222;
}
table
{
	table-layout: fixed;
	width: 900px;
	border-collapse:collapse;
	padding-top:22px;
	
}

h1
{
	font-size: 16px;
	color: ffffff;
	font-family: arial;
	text-decoration: none;
}
h2
{
	font-size: 30px;
	color: ffffff;
	font-family: times;
	text-decoration: none;
}
h3
{
	font-size: 30px;
	color: ffffff;
	font-family: arial;
	text-decoration: none;
list-style: none;
}
h4
{
	font-size: 20px;
	color: ffffff;
	font-family: arial;
	text-decoration: none;
}
h5
{
	font-size: 14px;
	color: ffffff;
	font-family: arial;
	text-decoration: none;
}
h6
{
	font-size: 14px;
	color: BF1717;
	font-family: arial;
	text-decoration: none;
}
h7
{
	font-size: 12px;
	color: ffffff;
	font-family: arial;
	text decoration: none;
}
img {
	border: none;
}
/*SIGN UP FORM*/
#signup {
list-style: none;
display: inline; 
margin: 0 0 0 0; 
padding: 0 0 0 0; 
list-style-type: none; 

}
#signup li:last-child { border-right:0px; }

fieldset { border:0px;}

form {
margin:0;
padding:0;
border:0;
display:inline;
vertical-align: bottom;
}

/*<!-- Footer -->*/
#footer 
{
	font-size: 12px;
	clear:left; 
	color:#888; 
	margin:20px 0;
}
#footer a:link, #footer a:visited 
{
	
	color:#888; 
	text-decoration:none;
}
#footer a:hover 
{
	color: red; 
	text-decoration:underline;
}
/* <!-- Hyperlinks --> */
a.mainNav:link    {
  /* Applies to unvisited links of class mainNav */
  text-decoration:  none;
  font-family:	arial
  font-weight:      bold;
  background-color: none;
  color:            ffffff;
  } 
a.mainNav:visited {
  /* Applies to visited links of class mainNav */
  text-decoration:  none;
  font-family:	arial  
  font-weight:      bold;
  background-color: none;
  color:            ffffff;
  } 
a.mainNav:hover   {
  /* Applies to links under the pointer of class mainNav */
  text-decoration:  underline;
  font-family:	arial
  font-weight:      bold;
  background-color: none;
  color:            red;
  } 
a.mainNav:active  {
  /* Applies to activated links of class mainNav */
  text-decoration:  underline;
  font-family:	arial  
  font-weight:      bold;
  background-color: none;
  color: 	      ffffff;
  } 

/*<!-- Main jquery--> */

}
#s3slider { 
   
   width: 910px; /* important to be same as image width */ 
   height: 300px; /* important to be same as image height */
   position: relative; /* important  */
   overflow: hidden; /* important */
}

#s3sliderContent {
   width: 900px; /* important to be same as image width or wider */
   position: absolute; /* important */
   top: -8; /* important */
   
   margin-left: 0; /* important */
}

.s3sliderImage {
   float: left; /* important */
   position: relative; /* important */
   display: none; /* important */
}

.s3sliderImage span {
   position: absolute; /* important */
   right: 0;
   font: 10px/15px Arial, Helvetica, sans-serif;
   padding: 10px 13px;
   width: 374px;
   background-color: #000;
   filter: alpha(opacity=70); /* here you can set the opacity of box with text */
   -moz-opacity: 0.7; /* here you can set the opacity of box with text */
   -khtml-opacity: 0.7; /* here you can set the opacity of box with text */
   opacity: 0.7; /* here you can set the opacity of box with text */
   color: #fff;
   display: none; /* important */
   top: 0;

   /*
       if you put
       top: 0; -> the box with text will be shown at the top of the image 
       if you put
       bottom: 0; -> the box with text will be shown at the bottom of the image
   */
}

.clear {
   clear: both;
}

/* Styles for the entire LavaLamp menu */
.lavaLamp {
    position: relative;
    height: 60px; width: 900px; 
    background: url("../img/menu/bg.png") no-repeat top;
    padding: 0px; margin: 0px ;
    overflow: hidden;
}
    /* Force the list to flow horizontally */
    .lavaLamp li {
        float: left;
        list-style: none;
    }
        /* Represents the background of the highlighted menu-item. */
        .lavaLamp li.back {
            background: url("../img/menu/lava.gif") no-repeat right -30px;
            width: 9px; height: 30px;
            z-index: 8;
	     
           position: absolute;
	     
        }
            .lavaLamp li.back .left {
                background: url("../img/menu/lava.gif") no-repeat top left;
                height: 30px;
                margin-right: 9px;
            }
        /* Styles for each menu-item. */
         .lavaLamp li a {
            position: relative; overflow: hidden;
            text-decoration: none;
            text-transform: uppercase;
            font: bold 14px arial;
            color: #fff; outline: none;
            text-align: center;
            height: 30px; top: 7px;
            z-index: 10; letter-spacing: 0;
            float: left; display: block;
            margin: auto 50px;
		
        }
 .lavaLamp li a:hover, .lavaLampWithImage li a:active, .lavaLampWithImage li a:visited {
                            border: none;
                        }

        

